{% extends "base.html" %}

{% block titulo %} Personagens {% endblock %}

{% block conteudo %}
<main>
    <section class="chars">
        <div class="container pt-5 d-flex flex-column" id="div-char">

            <div class="save-button align-self-center">
                <div class="save-content">
                    <strong>Personagens</strong>
                </div>
            </div>
            
            <div class="pt-5">
                
                <a href="#ruby-desc" data-bs-toggle="collapse" class="personagem">
                    <img src="{{ url_for('static', filename='img/RubyPortrait.png') }}" alt="Ruby" class="char-img">
                    <h1 class="d-inline">Ruby</h1>
                </a>
                <div id="ruby-desc" class="collapse" data-bs-parent="#div-char">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 1966, when designers at Letraset and James Mosley, the librarian at St Bride Printing Library in London, took a 1914 Cicero translation and scrambled it to make dummy text for Letraset's Body Type sheets. It has survived not only many decades, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised thanks to these sheets and more recently with desktop publishing software like Aldus PageMaker and Microsoft Word including versions of Lorem Ipsum
                </p>
            </div>
            </div>
            <hr>

            <a href="#roy-desc" data-bs-toggle="collapse" class="personagem">
                <img src="{{ url_for('static', filename='img/RoyPortrait.png') }}" alt="Roy" class="char-img">
                <h1>Roy</h1>
            </a>
            <div id="roy-desc" class="collapse" data-bs-parent="#div-char">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 1966, when designers at Letraset and James Mosley, the librarian at St Bride Printing Library in London, took a 1914 Cicero translation and scrambled it to make dummy text for Letraset's Body Type sheets. It has survived not only many decades, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised thanks to these sheets and more recently with desktop publishing software like Aldus PageMaker and Microsoft Word including versions of Lorem Ipsum
                </p>
            </div>
            <hr>

            <a href="#wichiwi-desc" data-bs-toggle="collapse" class="personagem">
                <img src="{{ url_for('static', filename='img/WichiwiPortrait.png') }}" alt="Wichiwi" class="char-img">
                <h1 >Wichiwi</h1>
            </a>
            <div id="wichiwi-desc" class="collapse" data-bs-parent="#div-char">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 1966, when designers at Letraset and James Mosley, the librarian at St Bride Printing Library in London, took a 1914 Cicero translation and scrambled it to make dummy text for Letraset's Body Type sheets. It has survived not only many decades, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised thanks to these sheets and more recently with desktop publishing software like Aldus PageMaker and Microsoft Word including versions of Lorem Ipsum
                <p>
            </div>
            <hr>
            
        </div>
    </section>
</main>

{% endblock %}